Net "rxd" LOC = "P58";
Net "txd" LOC = "P54";
Net "pass_rxd" LOC = "P6";
Net "pass_txd" LOC = "P7";
Net "ps2kb_clock" LOC = "P71";
Net "ps2kb_data" LOC = "P70";
Net "pass_ps2kb_clock" LOC = "P8";
Net "pass_ps2kb_data" LOC = "P9";